.App {
    text-align: center;
    font-size: large;
}

.App-left {
    text-align: left;
    font-size: 25px;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #424242;
    height: 90px;
    padding: 10px;

}
.App-intro {
    font-size: large;
}

.App-xd{
    background-color: #fcfcfc;
    width: 100vw;
    height: 100vh;
}

.App-dx{
    background-color: #424242;
    color: white;
    height: 100px;
    font-size: 65px;
    font-family: 'Monoton', cursive;
    vertical-align: center;
    text-align: center;
}

.Bar{
    height: 100px;
    text-align: center;
    background-color: #424242;
}
.app-bar-title{
    background-color: #424242;
    height: 100px;
    margin-top: 10px;
    color: white;
    font-size: 65px;
    font-family: 'Monoton', cursive;
    padding: 10px;
}

.Beta{
     margin-top: 10px;
     font-size: 3px;
     font-size: 2vw;
     text-align: center;
     font-family: 'Fredericka the Great', cursive;
     color: #1B5E20;
 }


@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}